/* MIT License */
/*Wide text is good*/
.max-w-prose {
  max-width: 95ch;
}

/*Centers all table (for better looking markdown)*/

/*Does not apply to code with highlight property
or else its highlight will not spread to the edge
*/
table:not(.lntable) {
  display: table;
  max-width: fit-content;
  margin: auto;
}

/*So table of contents does not get clipped*/
.toc-fix {
  flex-shrink: 0.9;
  flex-basis: 100%;
}

img.mx-auto {
  text-align: center;
}

/*Links inside alerts will be display in a neutral color*/
.alert a {
  color: var(--tw-prose-body);
  text-decoration-color: var(--tw-prose-body) !important;
}

/*Code formatting preference (copy-pasted then edited) from compiled/main.css of congo*/
.prose :where(code):not(:where(pre *,[class~="not-prose"], [class~="not-prose"] *)) {
  color: rgba(var(--color-neutral-700),1);
  background-color: rgba(var(--color-neutral-50),1);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 85%;
  font-weight:400;
}

/*Code formatting preference dark mode(copy-pasted then edited) from compiled/main.css of congo*/
:is(.dark .dark\:prose-invert) :where(code):not(:where(pre *, [class~="not-prose"], [class~="not-prose"] *)) {
  background-color: rgba(var(--color-neutral-700),1);
  color: rgba(var(--color-neutral-200),1);
}

/*Codes inside alert will have semi-transparent background*/
.alert code {
  background-color: rgba(var(--color-neutral-400),0.3);
}

:is(.dark .dark\:prose-invert) .alert code {
  background-color: rgba(var(--color-neutral-900),0.3);
}

/*makes the code highlights not rounded*/
td pre.chroma  {
  border-radius: 0;
}

/*Remove the ` found in before and after codes (copy-pasted then edited) from compiled/main.css of congo*/
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: none;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: none;
}
/* 
Many colors for custom alert shortcode
Colors from 2014 Material Design color palettes
Red, Yellow, Light Blue

Changed dark mode color to comply with WCAG AA

bg-yellow-900 original: 245, 127, 23
new yellow-900 HSV "V" changed from 96 to 55
bg-red-900 original: 183, 28, 28
new red-900 HSV "V" changed from 71 to 69(nice)

*/

:root {
  --bg-blue-100: 179, 229, 252;
  --bg-blue-900: 1, 87, 155;
  --text-blue-400: 41, 182, 246;
  --bg-yellow-100: 255, 249, 196;
  --bg-yellow-900: 140, 72, 14;
  --text-yellow-400: 255, 238, 88;
  --bg-red-100: 255, 205, 210;
  --bg-red-900: 178, 28, 28;
  --text-red-400: 239, 83, 80;
}

.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-blue-100), var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-blue-900) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-blue-900), var(--tw-bg-opacity));
}

.text-blue-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--text-blue-400), var(--tw-text-opacity));
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-yellow-100), var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-yellow-900) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-yellow-900), var(--tw-bg-opacity));
}

.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--text-yellow-400), var(--tw-text-opacity));
}

.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-red-100), var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-red-900) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-red-900), var(--tw-bg-opacity));
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--text-red-400), var(--tw-text-opacity));
}
