{{/* Custom alert shortcode, for warning/errors*/}}
{{/* Based on the original congo alert shortcode*/}}

{{ $type := .Get 1 }}
{{ $bgColor := "" }}
{{ $iconColor := ""}}

{{ if (eq $type "info") }}
    {{ $bgColor = "bg-blue-100 dark:bg-blue-900" }}
    {{ $iconColor = "text-blue-400"}}
{{ else if (eq $type "warning") }}
    {{ $bgColor = "bg-yellow-100 dark:bg-yellow-900" }}
    {{ $iconColor = "text-yellow-400"}}
{{ else if (eq $type "error") }}
    {{ $bgColor = "bg-red-100 dark:bg-red-900" }}
    {{ $iconColor = "text-red-400"}}
{{ else }}
    {{ $bgColor = "bg-primary-100 dark:bg-primary-900" }}
    {{ $iconColor = "text-primary-400"}}
{{ end }}

<div class="flex rounded-md  px-4 py-3 {{ $bgColor }}">
    <span class="pe-3 {{ $iconColor }}">
      {{ partial "icon.html" (.Get 0 | default "triangle-exclamation") }}
    </span>
    <span class="dark:text-neutral-300 alert">
      {{- .Inner | markdownify -}}
    </span>
  </div>
